<ion-header>
    
      <ion-navbar color="danger">
        <ion-title>Cadastrar Estabelecimento</ion-title>
        <ion-buttons start>
          <button ion-button (click)="cancel()">
            <span color="primary" showWhen="ios">
              {{ 'CANCEL_BUTTON' | translate }}
            </span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </button>
        </ion-buttons>
        <ion-buttons end>
          <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
            <span color="primary" showWhen="ios">
              {{ 'DONE_BUTTON' | translate }}
            </span>
            <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    
    </ion-header>
    
    <ion-content>
      <form *ngIf="form" [formGroup]="form">
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
            <ion-icon name="add"></ion-icon>
            <div>
              {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
            </div>
          </div>
          <div class="profile-image" text-center [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>
        <ion-list *ngIf="imageLoaded">
          <ion-item>
            <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="tel" placeholder="Telefone: (DD) DDDD-DDDD" formControlName="phone" maxlength="144" [(ngModel)]="phoneNumber" (keyup)="mascara(this, phoneNumber)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select [(ngModel)]="typeModel"  placeholder="Tipo" formControlName="type">
              <ion-option value= "Bar">Bar</ion-option>
              <ion-option value= "Restaurante">Restaurante</ion-option>
              <ion-option value= "Academia">Academia</ion-option>
              <ion-option value= "Livraria">Livraria</ion-option>
              <ion-option value= "Sorveteria">Sorveteria</ion-option>
              <ion-option value= "Pet Shop">Pet Shop</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <button ion-button block (click)="getLocation()" class="location">Obter Localização</button>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Cidade" formControlName="city"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Bairro" formControlName="neighbor"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Endereço" formControlName="address"></ion-input>
          </ion-item>
        </ion-list>
      </form>
    </ion-content>
    