<ion-header>
  <ion-navbar color="danger">
    <ion-title>Estabelecimentos PetFriendly</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addPlace()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar
    placeholder="Procurar"
    [(ngModel)]="myInput"
    (ionInput)="onInput($event)"
    [animated]="true"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-label text-center style="font-size:1.3em;color:gray" *ngIf="currentPlaces.length == 0">Não existem estabelecimentos cadastrados!</ion-label>          
        <ion-col text-center col-12 *ngFor="let place of currentPlaces">
            <ion-item-sliding style="box-shadow: 2px 2px 10px #bfbfbf;">
              <div ion-item>
                <div class="imagediv">
                    <img width="300px" height="150px" [src]="place.profilePic"/>
                </div>
                <h2>{{place.name}}</h2>
                <p>Tipo: {{place.type}}</p>
                <p><a (click)="openPlace(place)">Telefone: {{place.phone}}</a></p>
                <p>Email: {{place.email}}</p>
                <p>Cidade: {{place.city}}</p>
                <p>Bairro: {{place.neighbor}}</p>
                <p>Endereço: {{place.address}}</p>
              </div>
        
              <ion-item-options>
                <button ion-button color="danger" (click)="deletePlace(place)">
                  {{ 'DELETE_BUTTON' | translate }}
                </button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
