<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addAnimal()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let animal of currentAnimals">
      <button ion-item (click)="openAnimal(animal)">
        <ion-avatar item-start>
          <img [src]="animal.profilePic" />
        </ion-avatar>
        <h2 *ngIf="animal.name">{{animal.name}}</h2>
        <h2 *ngIf="!animal.name">{{animal.species}}</h2>
        <p>Espécie: {{animal.species}}</p>
        <p>Raça: {{animal.breed}}</p>
        <p>Gênero: {{animal.gender}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteAnimal(animal)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
