<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addAnimal()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col col-6><ion-item-sliding *ngFor="let animal of currentAnimals">
        <button ion-item (click)="openAnimal(animal)">
          <div *ngIf="animal.species == 'Cachorro'" class="mask_dog"></div>
          <div *ngIf="animal.species == 'Gato'" class="mask_cat"></div>
          <div class="imagediv">
              <img [src]="animal.profilePic"/>
          </div>
          <h2 *ngIf="animal.name">{{animal.name}}</h2>
          <h2 *ngIf="!animal.name">{{animal.species}}</h2>
          <p>Espécie: {{animal.species}}</p>
          <p>Raça: {{animal.breed}}</p>
          <p>Gênero: {{animal.gender}}</p>
        </button>
  
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteAnimal(animal)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding></ion-col>
      <ion-col col-6><ion-item-sliding *ngFor="let animal of currentAnimals">
        <button ion-item (click)="openAnimal(animal)">
          <div *ngIf="animal.species == 'Cachorro'" class="mask_dog"></div>
          <div *ngIf="animal.species == 'Gato'" class="mask_cat"></div>
          <div class="imagediv">
              <img [src]="animal.profilePic"/>
          </div>
          <h2 *ngIf="animal.name">{{animal.name}}</h2>
          <h2 *ngIf="!animal.name">{{animal.species}}</h2>
          <p>Espécie: {{animal.species}}</p>
          <p>Raça: {{animal.breed}}</p>
          <p>Gênero: {{animal.gender}}</p>
        </button>
  
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteAnimal(animal)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding></ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let animal of currentAnimals">
      <button ion-item (click)="openAnimal(animal)">
        <div *ngIf="animal.species == 'Cachorro'" class="mask_dog"></div>
        <div *ngIf="animal.species == 'Gato'" class="mask_cat"></div>
        <div class="imagediv">
            <img [src]="animal.profilePic"/>
        </div>
        <h2 *ngIf="animal.name">{{animal.name}}</h2>
        <h2 *ngIf="!animal.name">{{animal.species}}</h2>
        <p>Espécie: {{animal.species}}</p>
        <p>Raça: {{animal.breed}}</p>
        <p>Gênero: {{animal.gender}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteAnimal(animal)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>
