<ion-header>
  <ion-navbar color="danger">
    <ion-title>Denúncias de Maus Tratos</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addComplaint()">
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar
    placeholder="Procurar"
    [(ngModel)]="myInput"
    (ionInput)="onInput($event)"
    [animated]="true"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-label text-center style="font-size:1.3em;color:gray" *ngIf="currentComplaints.length == 0">Não existem denúncias cadastrados!</ion-label>          
        <ion-col text-center col-12 *ngFor="let complaint of currentComplaints">
            <ion-item-sliding style="box-shadow: 2px 2px 10px #bfbfbf;">
              <button ion-item (click)="openComplaint(complaint)">
                <div class="imagediv">
                  <img width="300px" height="150px" [src]="complaint.profilePic"/>
                </div>
                <h2>{{complaint.specie}}</h2>
                <p>Cidade: {{complaint.city}}</p>
                <p>Bairro: {{complaint.neighbor}}</p>
                <p>Endereço: {{complaint.address}}</p>
                <p>Descrição: {{complaint.about}}</p>
              </button>
        
              <ion-item-options>
                <button ion-button color="danger" (click)="deleteComplaint(complaint)">
                  {{ 'DELETE_BUTTON' | translate }}
                </button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
