page-complaint {
    .mask_dog{
        height: 140px;
        width: 140px;
        background-image:url('../../assets/img/paw_frame.png');
        z-index:1;
        background-size: cover;
        position: absolute;
        margin-left: 10px;
    }

    .mask_cat{
        width: 140px;
        height: 140px;
        background-image:url('../../assets/img/cat_frame.png');
        z-index:1;
        background-size: cover;
        position: absolute;
        margin-left: 10px;
    }

    .imagediv{
        width: 140px;
        height: 140px;
        position: relative;
        margin-left: 10px;
        z-index:0;
    }
}
