<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form>
    <ion-list>

      <ion-item>
        <ion-label fixed>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name" required placeholder="Nome Completo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email" required placeholder="exemplo@email.com"></ion-input>
      </ion-item>

      <ion-item *ngIf="showPassword">
        <ion-label fixed>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password" required ></ion-input>
      </ion-item>

      <div padding>
        <button *ngIf="showPassword" (click)="doSignup()" ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
        <button *ngIf="!showPassword" (click)="doSignupFacebook()" ion-button class="signupFB" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
