<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">

    <div padding>
      <h2>Usuário Conectado:</h2>
      <h6>Nome: {{usuario.nome}}</h6>
      <h6>E-mail: {{usuario.email}}</h6>
    </div>

    <div padding>
      <button ion-button block (click)="doLogout()">Sair</button>
    </div>

    <!-- <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list> -->
  </form>

</ion-content>
