<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{ animal.name }}</ion-title>

    <ion-buttons end *ngIf="showDelete == true">
      <button ion-button icon-only (click)="deleteAnimal(animal)">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + animal.profilePic + ')'">
  </div>

  <button ion-button block *ngIf="complaint != true" (click)="sendEmail()" class="email">Entrar em Contato</button>
  

  <div *ngIf="normal == true" class="item-detail" padding>
    <h2>Meu nome é <b>{{animal.name}}</b>,</h2>
    <p>Sou um <b>{{animal.species}}</b>,</p>
    <p>Sou <b>{{animal.gender}}</b>,</p>
    <p>Minha raça é <b>{{animal.breed}}</b>,</p>
    <p>Sou de porte <b>{{animal.size}}</b>,</p>
    <p>Tenho <b>{{animal.age}}</b> anos,</p>
    <p>Sobre mim: <b>{{animal.about}}</b></p>
  </div>

  <div *ngIf="found == true" class="item-detail" padding>
    <h2>Meu nome é <b>{{animal.name}}</b>,</h2>
    <p>Sou um <b>{{animal.species}}</b>,</p>
    <p>Sou <b>{{animal.gender}}</b>,</p>      
    <p>Fui encontrado em <b>{{animal.city}}</b>,</p>
    <p>No bairro <b>{{animal.neighbor}}</b>,</p>
    <p>Sou de porte <b>{{animal.size}}</b>,</p>
  </div>

  <div *ngIf="lost == true" class="item-detail" padding>
    <h2>Meu nome é <b>{{animal.name}}</b>,</h2>
    <p>Sou um <b>{{animal.species}}</b>,</p>
    <p>Sou <b>{{animal.gender}}</b>,</p>      
    <p>Fui encontrado em <b>{{animal.city}}</b>,</p>
    <p>No bairro <b>{{animal.neighbor}}</b>,</p>
    <p>Sou de porte <b>{{animal.size}}</b>,</p>
  </div>

  <div *ngIf="complaint == true" class="item-detail" padding>
    <h2>Sou um <b>{{animal.specie}}</b>,</h2>
    <p>Estou em <b>{{animal.city}}</b>,</p>
    <p>No Bairro <b>{{animal.neighbor}}</b>,</p>
    <p>No Endereço <b>{{animal.address}}</b>,</p>
    <p>Sobre mim: <b>{{animal.about}}</b></p>
  </div>

</ion-content>
