<ion-header>
    <ion-navbar color="danger">
      <ion-title>Animais Encontrados</ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="addFoundAnimal()">
          <ion-icon name="md-add-circle"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    
      <ion-searchbar
        placeholder="Procurar"
        [(ngModel)]="myInput"
        (ionInput)="onInput($event)"
        [animated]="true"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>

    <ion-grid>
      <ion-row>
        <ion-label text-center style="font-size:1.3em;color:gray" *ngIf="currentFoundAnimals.length == 0">Não existem animais cadastrados!</ion-label>          
        <ion-col text-center col-6 *ngFor="let animal of currentFoundAnimals">
            <ion-item-sliding style="box-shadow: 2px 2px 10px #bfbfbf;">
              <button ion-item (click)="openFoundAnimal(animal)">
                <div class="imagediv">
                  <img width="150px" height="150px" [src]="animal.profilePic"/>
                </div>
                <h2>{{animal.name}}</h2>
                <p>Espécie: {{animal.species}}</p>
                <p>Raça: {{animal.breed}}</p>
                <p>Cidade: {{animal.city}}</p>
                <p>Bairro: {{animal.neighbor}}</p>
                <p>Endereço: {{animal.address}}</p>
              </button>
        
              <ion-item-options>
                <button ion-button color="danger" (click)="deleteAnimal(animal)">
                  {{ 'DELETE_BUTTON' | translate }}
                </button>
              </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  